# Laravel
.env
.env.backup
.env.production
/vendor
/storage/*.key
/.phpunit.cache
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json

# npm
npm-debug.log

# Yarn
yarn-error.log

# Fleet
/.fleet

# Vue
/node_modules

# Sass
.sass-cache
*.css.map

# Vite
/.vite

# IDE/Editor
.idea
.vscode
*.sublime-project
*.sublime-workspace
_ide_helper.php
.DS_Store
.php_cs.cache
.phpstorm.meta.php
.rnd
.project
composer.phar
coverage.xml
docker-compose.override.yml
error.log
output.txt
Thumbs.db

# Miscellaneous
/public/css
/public/js
/public/build
/public/hot
/public/storage
/public/fonts
/public/vendor
/public/mix-manifest.json
